@model Laitehallinta.Models.Henkilot

@{
    ViewBag.Title = "Delete";
}

<h2>Poista henkilö</h2>

<h3>Haluatko varmasti poistaa henkilön?</h3>
<div>
    <h4>Henkilöt</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Etunimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Etunimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sukunimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sukunimi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HenkiloID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HenkiloID)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.Partial("_BackToListButtonPartial", "Index")
        </div>
    }
</div>
