@model Laitehallinta.Models.Henkilot

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Henkilöt</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Etunimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Etunimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sukunimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sukunimi)
        </dd>

    </dl>
</div>
<p>
    @Html.Partial("_EditButtonPartial", Model.HenkiloID) |
    @Html.Partial("_BackToListButtonPartial", "Index")
</p>
