
@model IEnumerable<Laitehallinta.Models.Logi>
<br /><br />
@using (Html.BeginForm("Index", "Hakulog", FormMethod.Get))
{
    @Html.TextBox("searching")<input type="submit" value="search" />
}
<table class="table table=striped">
    <thead>
        <tr>
            <th>LogiID</th>
            <th>SijaintiID</th>
            <th>KirjaajaID</th>
            <th>Kirjattusisään</th>
            <th>HenkiloID</th>
            <th>LaiteID</th>
            <th>TilaID</th>
            <th>Siirtäjä</th>
            <th>Sijainti</th>
            <th>Laite</th>
        </tr>

    </thead>
    <tbody>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="3" style="color = red">
                    No Match Any Document
                </td>
            </tr>
        }
        else
        {

            foreach (var item in Model)
            {

            <tr>
                <td>@item.LogiID</td>
                <td>@item.SijaintiID</td>
                <td>@item.KirjaajaID</td>
                <td>@item.Kirjattusisään</td>
                <td>@item.HenkiloID</td>
                <td>@item.TilaID</td>
                <td>@item.LaiteID</td>
                <td>@item.Henkilot.Etunimi</td>
                <td>@item.Tilat.Tarkennus</td>
                <td>@item.Laitteet.Merkki</td>
            </tr>
            }
        }

    </tbody>
</table>


